## A wholesale distributor operating in different regions of Portugal has information on annual spending of several items in their stores across different regions and channels. The data consists of 440 large retailersâ€™ annual spending on 6 different varieties of products in 3 different regions (Lisbon, Oporto, Other) and across different sales channel (Hotel, Retail).

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import scipy.stats as stats

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
data = pd.read_csv('Wholesale+Customers+Data.csv')
data.head()

,Buyer/Spender,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,1,Retail,Other,12669,9656,7561,214,2674,1338
1,2,Retail,Other,7057,9810,9568,1762,3293,1776
2,3,Retail,Other,6353,8808,7684,2405,3516,7844
3,4,Hotel,Other,13265,1196,4221,6404,507,1788
4,5,Retail,Other,22615,5410,7198,3915,1777,5185

In [5]:
data.dtypes

Buyer/Spender        int64
Channel             object
Region              object
Fresh                int64
Milk                 int64
Grocery              int64
Frozen               int64
Detergents_Paper     int64
Delicatessen         int64
dtype: object

In [6]:
print(data.isnull().sum())

Buyer/Spender       0
Channel             0
Region              0
Fresh               0
Milk                0
Grocery             0
Frozen              0
Detergents_Paper    0
Delicatessen        0
dtype: int64

In [7]:
data_numeric = data.drop(['Buyer/Spender'],axis=1,inplace=True)
data_numeric

In [8]:
data['Total_Annual_Spending'] = data['Fresh'] + data['Milk'] + data['Grocery'] + data['Frozen'] + data['Detergents_Paper'] + data['Delicatessen']
data

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen,Total_Annual_Spending
0,Retail,Other,12669,9656,7561,214,2674,1338,34112
1,Retail,Other,7057,9810,9568,1762,3293,1776,33266
2,Retail,Other,6353,8808,7684,2405,3516,7844,36610
3,Hotel,Other,13265,1196,4221,6404,507,1788,27381
4,Retail,Other,22615,5410,7198,3915,1777,5185,46100
...,...,...,...,...,...,...,...,...,...
435,Hotel,Other,29703,12051,16027,13135,182,2204,73302
436,Hotel,Other,39228,1431,764,4510,93,2346,48372
437,Retail,Other,14531,15488,30243,437,14841,1867,77407
438,Hotel,Other,10290,1981,2232,1038,168,2125,17834
439,Hotel,Other,2787,1698,2510,65,477,52,7589

In [9]:
data.columns

Index(['Channel', 'Region', 'Fresh', 'Milk', 'Grocery', 'Frozen',
       'Detergents_Paper', 'Delicatessen', 'Total_Annual_Spending'],
      dtype='object')

In [10]:
row, col = data.shape
print('Total Number of Rows:', row, '\n''Total Number of columns:',col)

Total Number of Rows: 440
Total Number of columns: 9

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Channel                440 non-null    object
 1   Region                 440 non-null    object
 2   Fresh                  440 non-null    int64
 3   Milk                   440 non-null    int64
 4   Grocery                440 non-null    int64
 5   Frozen                 440 non-null    int64
 6   Detergents_Paper       440 non-null    int64
 7   Delicatessen           440 non-null    int64
 8   Total_Annual_Spending  440 non-null    int64
dtypes: int64(7), object(2)
memory usage: 31.1+ KB

In [13]:
data.isnull().sum()

Channel                  0
Region                   0
Fresh                    0
Milk                     0
Grocery                  0
Frozen                   0
Detergents_Paper         0
Delicatessen             0
Total_Annual_Spending    0
dtype: int64

**Descriptive Statistics**

In [14]:
data.describe(include = 'all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Channel,440,2,Hotel,298,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Region,440,3,Other,316,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fresh,440.0,NaN,NaN,NaN,12000.297727,12647.328865,3.0,3127.75,8504.0,16933.75,112151.0
Milk,440.0,NaN,NaN,NaN,5796.265909,7380.377175,55.0,1533.0,3627.0,7190.25,73498.0
Grocery,440.0,NaN,NaN,NaN,7951.277273,9503.162829,3.0,2153.0,4755.5,10655.75,92780.0
Frozen,440.0,NaN,NaN,NaN,3071.931818,4854.673333,25.0,742.25,1526.0,3554.25,60869.0
Detergents_Paper,440.0,NaN,NaN,NaN,2881.493182,4767.854448,3.0,256.75,816.5,3922.0,40827.0
Delicatessen,440.0,NaN,NaN,NaN,1524.870455,2820.105937,3.0,408.25,965.5,1820.25,47943.0
Total_Annual_Spending,440.0,NaN,NaN,NaN,33226.136364,26356.30173,904.0,17448.75,27492.0,41307.5,199891.0

In [ ]:
print(data.groupby('Region')['Total_Annual_Spending'].sum(),'\n')

print(data.groupby('Channel')['Total_Annual_Spending'].sum())

In [ ]:
# plt.figure(figsize=(20,8))
data.groupby('Region').sum()['Total_Annual_Spending'].sort_values(ascending = True).plot(kind = 'bar');

In [ ]:
data.groupby('Channel').sum()['Total_Annual_Spending'].sort_values(ascending = True).plot(kind = 'bar');

In [ ]:
plt.figure(figsize=(5,8))
sns.barplot(x=data['Region'], y=data['Total_Annual_Spending'], hue='Channel', data =data);

In [ ]:
df = data.groupby(['Region','Channel']).agg({'Total_Annual_Spending' : 'sum'})
df

In [ ]:
data.groupby(['Region','Channel']).sum().reset_index()

In [ ]:
## 1.2 There are 6 different varieties of items that are considered. Describe and comment/explain all the varieties across Region and Channel? Provide a detailed justification for your answer.

In [ ]:
data.drop(['Total_Annual_Spending'],axis=1,inplace=True)

In [ ]:
sum_Region = data.groupby('Region').sum()
sum_Region.round(2)

In [ ]:
sum_Region.plot.bar(rot=0);

In [ ]:
sum_Channel = data.groupby('Channel').sum()
sum_Channel.round(2)

In [ ]:
sum_Channel.plot.bar();

In [ ]:
## 1.3 On the basis of a descriptive measure of variability, which item shows the most inconsistent behaviour? Which items show the least inconsistent behaviour?

In [ ]:
**Standard Deviations**

In [ ]:
data.std()

In [ ]:
**IQR**

In [ ]:
Q1 =data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

In [ ]:
# 1.4 Are there any outliers in the data? Back up your answer with a suitable plot/technique with the help of detailed comments.

In [ ]:
plt.figure (figsize=(5,5))
data.boxplot(fontsize=None,
    rot=90,
    grid=False);

In [ ]:
### Check outlier by IQR

In [ ]:
data_outlier = (data < (Q1 - 1.5 * IQR)) |(data > (Q3 + 1.5 * IQR))
data_outlier.head()

In [ ]:
### Individually Check outlier of each variables by boxplot

In [ ]:
plt.figure(figsize=(25,15))
plt.subplot(1,6,1)
sns.boxplot(data['Fresh'],data['Channel'], hue = data['Region']);
plt.xlabel('Fresh');
plt.subplot(1,6,2)
sns.boxplot(data['Milk'],data['Channel'], hue = data['Region']);
plt.xlabel('Milk');
plt.subplot(1,6,3)
sns.boxplot(data['Grocery'],data['Channel'], hue = data['Region']);
plt.xlabel('Grocery');
plt.subplot(1,6,4)
sns.boxplot(data['Frozen'],data['Channel'], hue = data['Region']);
plt.xlabel('Frozen');
plt.subplot(1,6,5)
sns.boxplot(data['Detergents_Paper'],data['Channel'], hue = data['Region']);
plt.xlabel('Detergents_Paper');
plt.subplot(1,6,6)
sns.boxplot(data['Delicatessen'],data['Channel'], hue = data['Region']);
plt.xlabel('Delicatessen');

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Fresh'], hue = data['Region']);

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Milk'], hue = data['Region']);

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Grocery'], hue = data['Region']);

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Frozen'], hue = data['Region']);

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Detergents_Paper'], hue = data['Region']);

In [ ]:
# plt.figure(figsize=(10,6))
sns.boxplot(data['Channel'],data['Delicatessen'], hue = data['Region']);

In [ ]:
## 1.5 On the basis of your analysis, what are your recommendations for the business? How can your analysis help the business to solve its problem? Answer from the business perspective

Based on the analysis done so far it is evident that there are many buyers in other
region so we could improve our retailer base in Lisbon and Oporto region as well
We can find evidence Fresh items are considerably used by many retailers among all the
region. We find that varieties like Frozen, Detergents paper and Delicatessen are not
Popular among the retailers so we can try maximize these products where the demand
Is more. As of now there is only two modes of sales either by Retail or Hotel. Considerin
g the base of the region we can use multiple sale method to reach our customers.